@{
    ViewData["Title"] = "Dashboard";
}

@if (User.Identity.IsAuthenticated)
{

    <div class="container mt-4">
        <h1 id="dashboard-title" class="text-center display-3 fade-in" style="color: #000;">Dashboard</h1>
        <div class="row mt-4">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-shopping-cart"></i> Gestión de Productos</h5>
                        <p class="card-text">Administra tus productos aquí. En esta sección puedes agregar, editar y eliminar productos en tu inventario.</p>
                        <a href="/Product" class="btn btn-primary bg-dark">Ir a la gestión de productos</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title "><i class="fas fa-file-alt"></i> Gestión de Pedidos</h5>
                        <p class="card-text">Administra tus pedidos aquí. Haz un seguimiento de los pedidos realizados por tus clientes y gestiona su estado.</p>
                        <a href="/Order" class="btn btn-primary bg-dark">Ir a la gestión de pedidos</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-user"></i> Gestión de Clientes</h5>
                        <p class="card-text">Administra tus clientes aquí. Agrega y actualiza información de tus clientes, y realiza un seguimiento de sus compras.</p>
                        <a href="/Customer" class="btn btn-primary bg-dark">Ir a la gestión de clientes</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-money-bill-alt"></i> Facturación</h5>
                        <p class="card-text">Administra la facturación de tu negocio. Crea y gestiona facturas para tus transacciones comerciales.</p>
                        <a href="/Purchase" class="btn btn-primary bg-dark">Ir a la gestión de facturación</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
    window.addEventListener('load', function () {
        var dashboardTitle = document.getElementById('dashboard-title');
        var colors = ['#FF5733', '#33FFA2', '#334AFF', '#FF33E1', '#33FFE9'];
        var currentColorIndex = 0;
        var text = dashboardTitle.textContent;
        var textLength = text.length;
        var animationDuration = 1000;

        function changeColorAndShowLetters() {
            currentColorIndex = (currentColorIndex + 1) % colors.length;
            dashboardTitle.style.color = colors[currentColorIndex];

            var interval = animationDuration / textLength;
            var index = 0;

            function showLetters() {
                if (index < textLength) {
                    dashboardTitle.innerHTML = text.substr(0, index) +
                        `<span style="color: ${colors[currentColorIndex]}">${text.charAt(index)}</span>` +
                        text.substr(index + 1);
                    index++;
                    setTimeout(showLetters, interval);
                } else {

                    setTimeout(changeColorAndShowLetters, animationDuration);
                }
            }

            showLetters();
        }

        changeColorAndShowLetters();
    });
</script>
