<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MultiStar</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/appDash.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/templatemo.css">
    <link rel="stylesheet" href="~/css/custom.css">


    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/templatemo.css">
    <link rel="stylesheet" href="~/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="~/css/fontawesome.min.css">


</head>
<body>
<header class="fixed-element">
<header class="fixed-element">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MultiStar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/ListPublicProduct"><i class="fas fa-book"></i> Catálogo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="CustomerPublic/Create"><i class="fas fa-envelope"></i> Contáctanos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login"><i class="fas fa-sign-in-alt"></i> Iniciar Sesión</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register"><i class="fas fa-user-plus"></i> Registrarse</a>
                        </li>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Identity" asp-page="/Account/Logout"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>



@if (User.Identity.IsAuthenticated)
{
    <nav id="sidebar" class="bg-dark">
        <div class="p-4">
            <h1><a href="/" class="logo text-light">Home<span></span></a></h1>
            <ul class="list-unstyled components mb-5">
                <li class="mb-3">
                    <a href="/Product" class="text-light">
                        <i class="fas fa-shopping-cart"></i> Gestión de Productos
                    </a>
                </li>
                <li class="mb-3">
                    <a href="/Order" class="text-light">
                        <i class="fas fa-file-alt"></i> Gestión de Pedidos
                    </a>
                </li>
                <li class="mb-3">
                    <a href="/Customer" class="text-light">
                        <i class="fas fa-user"></i> Gestión de Clientes
                    </a>
                </li>
            </ul>
    </nav>
}


        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5">
            @RenderBody()
        </div>
    </div>
<footer class="bg-dark" id="tempaltemo_footer">
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-4 pt-5">
                <h2 class="h2 text-success border-bottom pb-3 border-light logo">Multi Star</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li>
                        <i class="fas fa-map-marker-alt fa-fw"></i>
                        123 Consectetur at ligula 10660
                    </li>
                    <li>
                        <i class="fa fa-phone fa-fw"></i>
                        <a class="text-decoration-none" href="tel:010-020-0340">1234-4567</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope fa-fw"></i>
                        <a class="text-decoration-none" href="mailto:info@company.com">infomultistar@company.com</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row text-light mb-4">
            <div class="col-12 mb-3">
                <div class="w-100 my-3 border-top border-light"></div>
            </div>
            <div class="col-auto me-auto">
                <ul class="list-inline text-left footer-icons">
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="http://facebook.com/"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class "text-light text-decoration-none" target="_blank" href="https://twitter.com/"><i class="fab fa-twitter fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-auto">
                <label class="sr-only" for="subscribeEmail">Email</label>
                <div class="input-group mb-2">
                    <input type="text" class="form-control bg-dark border-light" id="subscribeEmail" placeholder="Email address">
                    <div class="input-group-text btn-success text-light">Regístrate</div>
                </div>
            </div>
        </div>
    </div>

    <div class="w-100 bg-black py-3">
        <div class="container">
            <div class="row pt-2">
                <div class="col-12">
                    <p class="text-left text-light">
                        Copyright &copy; 2021 Multi Star
                        | Diseñado por  <a rel="sponsored" href="https://templatemo.com" target="_blank">Doralys Cedeño & Leydi Acosta</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
